@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #FFFFFF;
}

/* off canvas */
.container-fluid {
  display: inline-block;
  float: right;
  transition: 0.3s;
  margin-top: 56px;
}

#off_canvas {
  position: fixed;
  height: 100%;
  width: 0%;
  background-color: red;
  transition: 0.3s;
  top: 0;
}

#canvas {
  cursor: pointer;
}

.off_canvas {
  width: 70%;
}

#off_canvas.expand_canvas {
  width: 30%;
}

/* PADDING */
.padding_10 {
  padding: 10px;
}

/* COLORS */
.bg_red {}

.primary {
  color: #6f17ed;
  stroke: #6f17ed;
}

.visible {
  opacity: 1 !important;
  filter: grayscale(0%) !important;
}

/* ALERTS */
#popup {
  width: 250px;
  height: 50px;
  position: fixed;
  bottom: -20%;
  left: 2%;
  background-color: #6200EE;
  z-index: 1;
  transition: 0.3s;
  color: white;
  border-radius: 4px;
  text-align: center;
}

#popup h6 {
  margin: 16px;
  display: inline-block;
}

#popup img {
  display: inline-block;
  height: 26px;
  margin-bottom: 5px;
  margin-right: 5px;
}

/* NAVBAR */
.bg-light {
  background-color: #6200EE !important;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.btn {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

.btn:hover {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

.navbar-brand {
  color: white !important;
}

/* LAYOUT */
@media (min-width: 768px) {
  p {
    font-size: 0.7rem;
  }

  .col-md-3 {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    margin: 1%;
    max-width: 23%;
  }

  .col-md-4 {
    -ms-flex: 0 0 31.3%;
    flex: 0 0 31.3%;
    margin: 1%;
    max-width: 31.3%;
  }

  .col-md-6 {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    margin: 1%;
    max-width: 48%;
  }
}

.card_icon {
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.button_change {
  margin: 0 10px;
  right: 0;
  position: absolute;
}

#svg {
  right: 80px;
}

.active {
  background-color: white !important;
  color: #6200EE !important;
  border-color: white !important;
}

.inverse {
  background-color: gray;
  color: white;
}

.card_icon img {
  vertical-align: middle;
  border-style: none;
  height: auto;
  margin-top: 30px;
  max-height: 60px;
}

.card_icon p {
  margin: 20px;
  font-weight: 500;
  position: relative;
  top: -30px;
}

.card_icon a {
  position: relative;
  width: 100%;
  height: 80%;
  display: block;
}

.card_icon:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
